
<div *ngIf="payment">
    <h2><span jhiTranslate="prototypeApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="prototypeApp.payment.method">Method</span></dt>
        <dd>
            <span jhiTranslate="{{'prototypeApp.PaymentMethod.' + payment.method}}">{{payment.method}}</span>
        </dd>
        <dt><span jhiTranslate="prototypeApp.payment.state">State</span></dt>
        <dd>
            <span jhiTranslate="{{'prototypeApp.PaymentState.' + payment.state}}">{{payment.state}}</span>
        </dd>
        <dt><span jhiTranslate="prototypeApp.payment.amount">Amount</span></dt>
        <dd>
            <span>{{payment.amount}}</span>
        </dd>
        <dt><span jhiTranslate="prototypeApp.payment.authorizedAmount">Authorized Amount</span></dt>
        <dd>
            <span>{{payment.authorizedAmount}}</span>
        </dd>
        <dt><span jhiTranslate="prototypeApp.payment.order">Order</span></dt>
        <dd>
            <div *ngIf="payment.orderId">
                <a [routerLink]="['order', payment.orderId]">{{payment.orderId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment/'+ payment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
